@model TechSelectViewModel
@{
    ViewData["Title"] = "Get Technician";
}

@if (TempData.Keys.Contains("message"))
{
    <h4 class="bg-info text-center text-white p-2">
        @TempData["message"]
    </h4>
}

<div class="form-group">
    <h1>Technician</h1>
    <form asp-action="List" asp-controller="TechIncident" method="get">
        <select name="selectedTechnicianId" class="form-select" aria-label="Default select example">
            <option value="">Select a Technician</option>
            @foreach (var t in Model.Technicians)
            {
                <option value="@t.TechnicianID">@t.Name</option>
            }
        </select>
        <button type="submit" class="btn btn-primary">Select</button>
    </form>
</div>
