@model Customer

@{
    string title = ViewBag.Action + " Customer";
    ViewBag.Title = "Customer Manager";
}

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<style>
    .input-validation-error {
        border: 2px solid #dc3545; /* same red as text-danger */
        background-color: #faebd7; /* antique white */
    }
</style>

<!--
    Customer Edit/Add view
-->

<h2>@title</h2>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Address">Address</label>
        <input asp-for="Address" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="City">City</label>
        <input asp-for="City" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="State">State</label>
        <input asp-for="State" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="PostalCode">Postal Code</label>
        <input asp-for="PostalCode" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="CountryID">Country</label>
        <select asp-for="CountryID" class="form-control">
            <option value="">Select a Country</option>
            @foreach (Country c in ViewBag.Countries)
            {
                <option value="@c.CountryID">@c.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Phone">Phone Number</label>
        <input asp-for="Phone" class="form-control">
    </div>
    <input type="hidden" asp-for="CustomerID" />
    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="Customer" asp-action="List" class="btn btn-primary">Cancel</a>
</form>
